#editor {
    position: absolute;
    top: 200px;
    left: 400px;
    width: 1000px;
    height: 500px;
    border-radius: 4px;
}

#back{
    position: absolute;
    top: 200px;
    left: 25px;
    width: 300px;
}

button{
    background: linear-gradient(rgba(59, 59, 59, 0.726),rgba(0, 0, 0, 0.726));
    border: none;
    border-radius: 4px;
    color: white;
}

button:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.726),rgba(59, 59, 59, 0.726));
}