<p>Message from the localhost:3000 : {{message}} </p>
<div id="wrapper">
    <!-- 10 x 10 block -->
    <!-- first row -->
    <div class="empty numbered" [class.selected]="gridBox === selectedGridBox" (click)="onSelect(gridBox)"></div>
    <div *ngIf="selectedGridBox">
        <input [(ngModel)]="selectedGridBox.value">
    </div>
    <div class="empty numbered"></div>
    <div class="empty numbered"></div>
    <div class="empty numbered"></div>
    <div class="empty numbered"></div>
    <div class="filled"></div>
    <div class="empty numbered"></div>
    <div class="empty numbered"></div>
    <div class="empty numbered"></div>
    <div class="empty numbered"></div>
    <!-- second row -->
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="filled"></div>
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <!-- third row -->
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <!-- fourth row -->
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="filled"></div>
    <div class="empty"></div>
    <!-- fifth row -->
    <div class="filled"></div>
    <div class="filled"></div>
    <div class="filled"></div>
    <div class="filled"></div>
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="filled"></div>
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <!-- sixth row -->
    <div class="empty numbered"></div>
    <div class="empty numbered"></div>
    <div class="empty numbered"></div>
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="filled"></div>
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <!-- seventh row -->
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="filled"></div>
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <!-- eighth row -->
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <!-- ninth row -->
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="filled"></div>
    <div class="filled"></div>
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="filled"></div>
    <!-- tenth row -->
    <div class="filled"></div>
    <div class="filled"></div>
    <div class="filled"></div>
    <div class="empty numbered"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="filled"></div>
    <div class="empty numbered"></div>
    <div class="empty"></div>
</div>