
# Created by https://www.gitignore.io/api/angular

### Angular ###
## Angular ##
# compiled output
/dist
/tmp
/app/**/*.js
/app/**/*.js.map

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store


# End of https://www.gitignore.io/api/angular
Cadriciel/client/.vscode/launch.json
Cadriciel/client/.vscode/
Cadriciel/server/.vscode/
Cadriciel/.vscode/
Cadriciel/node_modules/semver/semver.js
Cadriciel/node_modules/semver/range.bnf
Cadriciel/node_modules/semver/package.json
Cadriciel/node_modules/semver/bin/semver
Cadriciel/node_modules/semver/README.md
Cadriciel/node_modules/semver/LICENSE
Cadriciel/node_modules/resolve-from/readme.md
Cadriciel/node_modules/resolve-from/package.json
Cadriciel/node_modules/resolve-from/license
Cadriciel/node_modules/resolve-from/index.js
Cadriciel/node_modules/require_optional/test/require_optional_tests.js
Cadriciel/node_modules/require_optional/test/nestedTest/package.json
Cadriciel/node_modules/require_optional/test/nestedTest/index.js
Cadriciel/node_modules/require_optional/package.json
Cadriciel/node_modules/require_optional/index.js
Cadriciel/node_modules/require_optional/README.md
Cadriciel/node_modules/require_optional/LICENSE
Cadriciel/node_modules/require_optional/HISTORY.md
Cadriciel/node_modules/require_optional/.travis.yml
Cadriciel/node_modules/require_optional/.npmignore
Cadriciel/node_modules/mongodb/yarn.lock
Cadriciel/node_modules/mongodb/package.json
Cadriciel/node_modules/mongodb/lib/utils.js
Cadriciel/node_modules/mongodb/lib/url_parser.js
Cadriciel/node_modules/mongodb/lib/topologies/topology_base.js
Cadriciel/node_modules/mongodb/lib/topologies/server.js
Cadriciel/node_modules/mongodb/lib/topologies/replset.js
Cadriciel/node_modules/mongodb/lib/topologies/mongos.js
Cadriciel/node_modules/mongodb/lib/mongo_client.js
Cadriciel/node_modules/mongodb/lib/metadata.js
Cadriciel/node_modules/mongodb/lib/gridfs/grid_store.js
Cadriciel/node_modules/mongodb/lib/gridfs/chunk.js
Cadriciel/node_modules/mongodb/lib/gridfs-stream/upload.js
Cadriciel/node_modules/mongodb/lib/gridfs-stream/index.js
Cadriciel/node_modules/mongodb/lib/gridfs-stream/download.js
Cadriciel/node_modules/mongodb/lib/db.js
Cadriciel/node_modules/mongodb/lib/cursor.js
Cadriciel/node_modules/mongodb/lib/command_cursor.js
Cadriciel/node_modules/mongodb/lib/collection.js
Cadriciel/node_modules/mongodb/lib/change_stream.js
Cadriciel/node_modules/mongodb/lib/bulk/unordered.js
Cadriciel/node_modules/mongodb/lib/bulk/ordered.js
Cadriciel/node_modules/mongodb/lib/bulk/common.js
Cadriciel/node_modules/mongodb/lib/authenticate.js
Cadriciel/node_modules/mongodb/lib/apm.js
Cadriciel/node_modules/mongodb/lib/aggregation_cursor.js
Cadriciel/node_modules/mongodb/lib/admin.js
Cadriciel/node_modules/mongodb/insert_bench.js
Cadriciel/node_modules/mongodb/index.js
Cadriciel/node_modules/mongodb/conf.json
Cadriciel/node_modules/mongodb/boot_auth.js
Cadriciel/node_modules/mongodb/THIRD-PARTY-NOTICES
Cadriciel/node_modules/mongodb/README.md
Cadriciel/node_modules/mongodb/Makefile
Cadriciel/node_modules/mongodb/LICENSE
Cadriciel/node_modules/mongodb/HISTORY.md
Cadriciel/node_modules/mongodb/CHANGES_3.0.0.md
Cadriciel/node_modules/mongodb/.eslintrc
Cadriciel/node_modules/mongodb/.coveralls.yml
Cadriciel/node_modules/mongodb-core/yarn.lock
Cadriciel/node_modules/mongodb-core/package.json
Cadriciel/node_modules/mongodb-core/lib/wireprotocol/shared.js
Cadriciel/node_modules/mongodb-core/lib/wireprotocol/compression.js
Cadriciel/node_modules/mongodb-core/lib/wireprotocol/3_2_support.js
Cadriciel/node_modules/mongodb-core/lib/wireprotocol/2_6_support.js
Cadriciel/node_modules/mongodb-core/lib/utils.js
Cadriciel/node_modules/mongodb-core/lib/uri_parser.js
Cadriciel/node_modules/mongodb-core/lib/topologies/shared.js
Cadriciel/node_modules/mongodb-core/lib/topologies/server.js
Cadriciel/node_modules/mongodb-core/lib/topologies/replset_state.js
Cadriciel/node_modules/mongodb-core/lib/topologies/replset.js
Cadriciel/node_modules/mongodb-core/lib/topologies/read_preference.js
Cadriciel/node_modules/mongodb-core/lib/topologies/mongos.js
Cadriciel/node_modules/mongodb-core/lib/tools/smoke_plugin.js
Cadriciel/node_modules/mongodb-core/lib/sessions.js
Cadriciel/node_modules/mongodb-core/lib/error.js
Cadriciel/node_modules/mongodb-core/lib/cursor.js
Cadriciel/node_modules/mongodb-core/lib/connection/utils.js
Cadriciel/node_modules/mongodb-core/lib/connection/pool.js
Cadriciel/node_modules/mongodb-core/lib/connection/logger.js
Cadriciel/node_modules/mongodb-core/lib/connection/connection.js
Cadriciel/node_modules/mongodb-core/lib/connection/commands.js
Cadriciel/node_modules/mongodb-core/lib/connection/command_result.js
Cadriciel/node_modules/mongodb-core/lib/auth/x509.js
Cadriciel/node_modules/mongodb-core/lib/auth/sspi.js
Cadriciel/node_modules/mongodb-core/lib/auth/scram.js
Cadriciel/node_modules/mongodb-core/lib/auth/plain.js
Cadriciel/node_modules/mongodb-core/lib/auth/mongocr.js
Cadriciel/node_modules/mongodb-core/lib/auth/gssapi.js
Cadriciel/node_modules/mongodb-core/index.js
Cadriciel/node_modules/mongodb-core/conf.json
Cadriciel/node_modules/mongodb-core/THIRD-PARTY-NOTICES
Cadriciel/node_modules/mongodb-core/README.md
Cadriciel/node_modules/mongodb-core/Makefile
Cadriciel/node_modules/mongodb-core/LICENSE
Cadriciel/node_modules/mongodb-core/HISTORY.md
Cadriciel/node_modules/mongodb-core/.eslintrc
Cadriciel/node_modules/mongodb-core/.coveralls.yml
Cadriciel/node_modules/bson/package.json
Cadriciel/node_modules/bson/lib/bson/timestamp.js
Cadriciel/node_modules/bson/lib/bson/symbol.js
Cadriciel/node_modules/bson/lib/bson/regexp.js
Cadriciel/node_modules/bson/lib/bson/parser/serializer.js
Cadriciel/node_modules/bson/lib/bson/parser/deserializer.js
Cadriciel/node_modules/bson/lib/bson/parser/calculate_size.js
Cadriciel/node_modules/bson/lib/bson/objectid.js
Cadriciel/node_modules/bson/lib/bson/min_key.js
Cadriciel/node_modules/bson/lib/bson/max_key.js
Cadriciel/node_modules/bson/lib/bson/map.js
Cadriciel/node_modules/bson/lib/bson/long.js
Cadriciel/node_modules/bson/lib/bson/int_32.js
Cadriciel/node_modules/bson/lib/bson/float_parser.js
Cadriciel/node_modules/bson/lib/bson/double.js
Cadriciel/node_modules/bson/lib/bson/decimal128.js
Cadriciel/node_modules/bson/lib/bson/db_ref.js
Cadriciel/node_modules/bson/lib/bson/code.js
Cadriciel/node_modules/bson/lib/bson/bson.js
Cadriciel/node_modules/bson/lib/bson/binary.js
Cadriciel/node_modules/bson/index.js
Cadriciel/node_modules/bson/browser_build/package.json
Cadriciel/node_modules/bson/browser_build/bson.js
Cadriciel/node_modules/bson/bower.json
Cadriciel/node_modules/bson/README.md
Cadriciel/node_modules/bson/LICENSE.md
Cadriciel/node_modules/bson/HISTORY.md
Cadriciel/node_modules/.bin/semver.cmd
Cadriciel/node_modules/.bin/semver
Cadriciel/client/src/app/racing/editor-render-service/editor-render.service.spec.ts.rej
