#container {
    width: 500px;
    height: 300px;
    background : linear-gradient(#777777c5,#000000c5);
    
}

#text {
    position: relative;
    top:20px;
    text-align: center;
    color: #ffffff;
    font-size: 150%;
    font-style: italic;
}

#input {
    position: relative;
    top:30px;
    left: 120px;
    background : linear-gradient(#585858c5,#313131c5);
    border-color: #777777c5;
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-size: 150%;
}

#save {
    position: relative;
    top:90px;
    left: -115px;
    background : linear-gradient(#464646c5,#252525c5);
    border-color: #444444c5;
    color: #ffffff;
    font-style: italic;
    font-size: 150%;
}