#times {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 150%;
    border-collapse: collapse;
    width:800px;
    height: 500px;
    text-align: center;
    border: 1px solid rgb(17, 17, 17);
}

#times td, #customers th {
    border: 1px solid rgb(17, 17, 17);
}

#times tr:nth-child(even){background: linear-gradient(#9c9c9cc5,#3d3d3dc5);}
#times tr:nth-child(odd){background: linear-gradient(#313131c5,#000000c5);}

#times tr{
    color: rgb(228, 228, 228);
    font-style: italic;
}

#position {
    background-color: rgba(39, 39, 39, 0.603);    
}

#times th {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    font-weight: bolder;
    font-style: normal;
}