<div id="modeSelection">
  <a (click)="setNewGame()" class="push_button">New game</a>
  <a (click)="setJoinGame()" class="push_button">Join game</a>
  <div *ngIf="isNewGame" id="buttongroup" class="btn-group">
    <button (click)="configurationService.isTwoPlayerGame = false" class="btn btn-primary">One player</button>
    <button (click)="configurationService.isTwoPlayerGame = true" class="btn btn-primary">Two players</button>
  </div>

  <div *ngIf="configurationService.isTwoPlayerGame !== undefined" id="buttongroupDifficulty" class="btn-group">
    <button name="buttonDifficulty" (click)="makeEasyGrid()" class="btn btn-primary">EASY</button>
    <button name="buttonDifficulty" (click)="makeMediumGrid()" class="btn btn-primary">MEDIUM</button>
    <button name="buttonDifficulty" (click)="makeHardGrid()" class="btn btn-primary">HARD</button>
  </div>

  <div *ngIf="difficulty !== undefined" id="input">
    Enter Name :
    <input #player value="Player name" />
    <button (click)="configurationService.playerName = player.value" (click)="submitName()">Submit</button>
  </div>

</div>