h1 {
    text-align: center;
    margin-top: -40px;
    color: rgb(58, 107, 106);
}

#logo{
    width: 300px;
    position: absolute;
    left:40%;
    margin: 0 auto;
}

#image1, #image2 {
    width:300px;
    height:200px;
    padding-top: 2%;
    margin-left:19%;
    display:inline-block;
    size:80%;
}

#image2 {
    margin-left: 200px;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 120px;;
    margin-left: 26%;
    display: inline-block;
    background-color: rgba(36, 46, 44, 0.938);
    color:rgb(174, 211, 208);
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.7s;
    text-align: center;
    width:100px;
    font-size: 18px;
    
}

nav a:hover {
    color: #0b4941;
    background-color: rgb(186, 209, 207);
    box-shadow: none;
}
nav a.active {
    color: #039be5;
}

.fa-home {
    font-size:40px;color:rgb(58, 107, 106);
    position: absolute;
    top:20px;
}


