<body>
    <a (click)="showImages()" routerLink="/" class="fa fa-home"></a>
  <h1>
    Welcome to the consoeurie
  </h1>
<nav>
  <a href="/mot-croise">Crossword</a>
  <a href="/course" >Racing</a>
</nav>
<img id="image1" src="http://www.slate.com/content/dam/slate/blogs/xx_factor/2016/06/28/the_new_york_times_crossword_can_be_clueless_about_race_and_gender/thinkstockphotos462530267.jpg.CROP.cq5dam_web_1280_1280_jpeg.jpg" alt="crossword">
<img id="image2" src="https://pre00.deviantart.net/170c/th/pre/i/2014/157/1/8/69_yellow__camaro_hdr_by_evrengunturkun-d7kzsy2.jpg" alt="yellow camaro">
<router-outlet></router-outlet>
</body>


