<div id="view" *ngIf="readyToView()">
  <table id="times">
    <tr>
      <th>Position</th>
      <th>Driver</th>
      <!-- <th>Car</th> -->
      <th>Lap one</th>
      <th>Lap two</th>
      <th>Lap three</th>
      <th>Total time</th>
    </tr>
    <tr *ngFor="let player of endGameTableService.players">
      <td id="position">{{player.score.position}}</td>
      <td>{{player.name}}</td>
      <!-- <td>{{player.car}}</td> -->
      <td>{{player.score.firstLap}}</td>
      <td>{{player.score.secondLap}}</td>
      <td>{{player.score.thirdLap}}</td>
      <td>{{getTime(player.score)}}</td>
    </tr>
  </table>
  <a id="next" (click)="goToNextView()">Next</a>
</div>