<div id="view" *ngIf="readyToView()">
  <table id="times">
    <tr>
      <th>Position</th>
      <th>Driver</th>
      <th>Lap one</th>
      <th>Lap two</th>
      <th>Lap three</th>
      <th>Total time</th>
    </tr>
    <tr *ngFor="let player of endGameTableService.players">
      <td id="position">{{player.position}}</td>
      <td>{{player.name}}</td>
      <td>{{getFormatedTime(player.score.firstLap)}}</td>
      <td>{{getFormatedTime(player.score.secondLap)}}</td>
      <td>{{getFormatedTime(player.score.thirdLap)}}</td>
      <td>{{getFormatedTime(player.score.totalTime)}}</td>
    </tr>
  </table>
  <a id="next" (click)="goToNextView()">Next</a>
</div>