<div (mousedown)="deselectWords()">
  <h2> Crossword Game </h2>

  <div id="modeSelection">
    <a (click)="newGame()" class="push_button">New game</a>
    <a (click)="joinGame()" class="push_button">Join game</a>
    <div id="buttongroup" class="btn-group">
      <button id="buttonDifficulty" (click)="play()" (click)="playAlone()" class="btn btn-primary">One player</button>
      <button id="buttonDifficulty" (click)="play()" class="btn btn-primary">Two players</button>
    </div>

    <div id="buttongroupp" class="btn-group">
      <button id="buttonDifficulty" (click)="makeEasyGrid()" class="btn btn-primary">EASY</button>
      <button id="buttonDifficulty" (click)="makeMediumGrid()" class="btn btn-primary">MEDIUM</button>
      <button id="buttonDifficulty" (click)="makeHardGrid()" class="btn btn-primary">HARD</button>
    </div>

    <div id="input">
      Enter Name : 
      <input #player value="Player name" />
      <button (click)="playerName = player.value" (click)="hideModeSelector()">Submit</button>
    </div>

  </div>



  <div id="loader" *ngIf="showLoader"></div>

  <div id="defs" (mousedown)="deselectWords()">
    <button id="CheatButton" (click)="changeMode()"> Cheat mode </button>
    <h2 id="title">Definitions</h2>
    <h3 *ngIf="words !== undefined"> Horizontal : </h3>
    <div *ngFor="let word of words">
      <li *ngIf="word._isHorizontal">{{word._definitionID}})
        <span *ngIf="isInCheatMode">
          <div [ngClass]="{selectedDefinition : highlightedWord(word), clearDefinition: !highlightedWord(word)}" (mouseup)="highlightWord(word)">{{getWordValue(word)}}</div>
        </span>
        <span *ngIf="!isInCheatMode">
          <div [ngClass]="{selectedDefinition : highlightedWord(word), clearDefinition: !highlightedWord(word)}" (mouseup)="highlightWord(word)">{{word._definition}}</div>
        </span>
      </li>
    </div>
    <h3 *ngIf="words !== undefined"> Vertical : </h3>
    <div *ngFor="let word of words">
      <li *ngIf="!word._isHorizontal">{{word._definitionID}})
        <span *ngIf="isInCheatMode">
          <div [ngClass]="{selectedDefinition : highlightedWord(word), clearDefinition: !highlightedWord(word)}" (mouseup)="highlightWord(word)">{{getWordValue(word)}}</div>
        </span>
        <span *ngIf="!isInCheatMode">
          <div [ngClass]="{selectedDefinition : highlightedWord(word), clearDefinition: !highlightedWord(word)}" (mouseup)="highlightWord(word)">{{word._definition}}</div>
        </span>
      </li>
    </div>
  </div>
</div>

<div id="gameInformations">
  <h3> {{playerName}} :
    <h4> {{correctWordCount}} words found</h4>
  </h3>

  <h3 id="secondPlayer"> Player 2 :
    <h4> {{correctWordCount}} words found</h4>
  </h3>

</div>
<div id="gridHider"></div>
<div id="grid">
  <div *ngFor="let line of boxes">
    <div *ngFor="let gridBox of line" (mouseup)="highlightWordOfBox(gridBox)">
      <div [ngClass]="{filledGridBox : gridBox._isBlack, selectedGridBox: gridBox._isColored, emptyGridBox : !gridBox._isBlack}">
        <div>{{getGridBoxID(gridBox)}}</div>
      </div>
    </div>
  </div>
</div>