#grid {
    width: 600px;
    min-height: 600px;
    border: 2px solid rgba(44, 107, 97, 0.233);
    position: absolute;
    left: 750px;
    margin-bottom: 10px;
}
li {
    list-style-type: none;
}

#title {
    text-align: center;
}

.emptyGridBox {
    text-align: left;    
    width: 56px;
    height: 56px;
    border: 2px solid black;
    padding: 0;
    margin: 0;
    float: left;
    text-transform: uppercase;
    background: white;
}

.selectedGridBox {
    text-align: left;    
    width: 56px;
    height: 56px;
    background:  rgb(44, 107, 97);
    border: 2px solid black;
    padding: 0;
    margin: 0;
    float: left;
    text-transform: uppercase;
}

.filledGridBox {
    width: 56px;
    height: 56px;
    background: black;
    border: 2px solid black;
    padding: 0;
    margin: 0;
    float: left;
}


#buttonDifficulty {
    color:midnightblue;
    margin-bottom: 10px;
    cursor: pointer;
}

#CheatButton {
    position: absolute;
    left:82%;
    top:2%;
    cursor: pointer;
    border-radius: 4px;
}

#defs {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid rgba(44, 107, 97, 0.233);
    position: absolute;
    left: 5%;
    background: rgba(27, 92, 76, 0.068);
    padding-left:20px;
    overflow:auto;
}

#gameInformations {
    width: 600px;
    height: 180px;
    margin: 0 auto;
    border: 2px solid rgba(44, 107, 97, 0.233);
    position: absolute;
    left: 5%;
    background: rgba(27, 92, 76, 0.068);
    padding-left:20px;
    margin-top:420px;
}

#loader {
    border: 16px solid rgb(51, 77, 72);
    border-top: 16px solid rgba(32, 100, 89, 0.842);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s infinite;
    animation-fill-mode: both;
    display: inline-block;
    visibility: hidden;
    position: absolute;
    margin-left: 5%;
    margin-top:-3%;
}

#word{
    display: inline-block;
    max-width: 530px;
    vertical-align:top;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#yo {
    background: firebrick;
}
