
#definitions {
    width: 630px;
    height: 412px;
    border: 2px solid rgba(44, 107, 97, 0.233);
    position: absolute;
    left: 40px;
    background: rgba(27, 92, 76, 0.068);
    padding-left:20px;
    overflow:auto;
    margin-top:200px;
}

#textDefinition::first-letter {
    font-size: 110%;
    color: rgb(27, 76, 109);
    font-weight: bold;
    text-transform: uppercase;
}

#gameInformations {
    margin-top: 10px;
    width: 630px;
    height: 150px;
    border: 2px solid rgba(44, 107, 97, 0.233);
    position: absolute;
    left: 40px;
    background: rgba(27, 92, 76, 0.068);
    padding-left:20px;
    padding-top:30px;
}

li {
    list-style-type: none;
}

.definitionID {
    position: absolute;
    top: -5px;
    left: 0px;
    z-index: 1;
    color:black !important;
}

.userInputLetter {
    position: relative;
    text-align: center;
    top: 4px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0);
    border: rgba(0, 0, 0, 0);
}

#relative {
    position: relative;
}

#title {
    text-align: center;
}

.emptyGridBox {
    text-align: left;    
    width: 60px;
    height: 60px;
    border: 2px solid;
    padding: 0;
    margin: 0;
    float: left;
    text-transform: uppercase;
}

.selectedGridBox {
    text-align: left;    
    width: 60px;
    height: 60px;
    border: 4px solid;
    padding: 0;
    margin: 0;
    float: left;
    text-transform: uppercase;

    /* pour pointillé de deux couleurs
    outline: 3px dashed orange;
    outline-offset: -2px; */

     /* background: repeating-linear-gradient(45deg, steelblue, orangered 25px);  */
}

.foundGridBox {
    text-align: left;
    width: 60px;
    height: 60px;
    border: 2px solid;
    padding: 0;
    margin: 0;
    float: left;
    text-transform: uppercase;
}

.inputGridBox {
    text-align: left;    
    width: 60px;
    height: 60px;
    border: 4px solid;
    padding: 0;
    margin: 0;
    float: left;
    text-transform: uppercase;
    animation: blinker 0.5s alternate-reverse infinite;
}

.filledGridBox {
    width: 60px;
    height: 60px;
    border: 2px solid;
    padding: 0;
    margin: 0;
    float: left;
}

#CheatButton {
    position: absolute;
    left:82%;
    top:2%;
    cursor: pointer;
    border-radius: 4px;
    background: rgb(141, 175, 165);
    border: 1px solid rgba(25, 66, 59, 0.705);
    color:rgb(20, 49, 42);
    font-size:16px;
}

#loader {
    border: 16px solid rgb(51, 77, 72);
    border-top: 16px solid rgb(71, 143, 131);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s infinite;
    animation-fill-mode: both;
    display: inline-block;
    visibility: visible;
    position: absolute;
    margin-left: 1010px ;
    margin-top:300px;
    z-index: 1;
}

.selectedDefinition {
    display: inline-block;
    min-width: 80px;
    vertical-align:top;
    border-radius: 10%;
}

.foundDefinition {
    display: inline-block;
    min-width: 80px;
    vertical-align:top;
    border: 2px solid rgba(0, 0, 0, 0.486);
}

.clearDefinition {
    display: inline-block;
    min-width: 80px;
    vertical-align:top;
    enable-background: 0%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes blinker {
    from {background-color: grey;}
    to {background-color:  rgb(255, 255, 255);}
}

h4{
    display:inline-block;
}

#grid {
    margin-top: 10px;
    width: 604px;
    min-height: 602px;
    border: 2px solid rgba(44, 107, 97, 0.233);
    position: absolute;
    margin-left: 750px;
    margin-bottom: 10px;
}
