<div (mouseenter)="hideLoader()">
  <h2> Crossword Game </h2>
  <button id="buttonDifficulty" (click)="makeEasyGrid()">EASY</button>
  <button id="buttonDifficulty" (click)="makeMediumGrid()">MEDIUM</button>
  <button id="buttonDifficulty" (click)="makeHardGrid()">HARD</button>

  <div id="loader"></div>

  <div id="defs">
    <button id="CheatButton"> Cheat mode </button>
    <h2 id="title">Definitions</h2>
    <h3> Horizontal : </h3>
      <div *ngFor="let word of grid.words">
        <div *ngIf="word._horizontal">{{word._definition}}</div>
      </div>
    <h3> Vertical : </h3>
  </div>

  <div id="grid">
    <div *ngFor="let gridBoxLine of grid">
      <div *ngFor="let gridBox of gridBoxLine">
        <div [ngClass]="{filledGridBox : gridBox._black, emptyGridBox : !gridBox._black}">
          <div (mouseenter)="hide()">{{getGridBoxID(gridBox)}}</div>
        </div>
      </div>
    </div>
  </div>
</div>