<h2>Track list</h2>
<ul class="tracks">
  <li class="track" *ngFor="let track of tracks; let i = index">
    <a routerLink="/race/{{track.key}}" (mouseover)="displayTrackPreview(track.value) " (click)=incrementTimesPlayed(track)>
      <span class="badge">{{i+1}}</span> {{track.value.name}}
    </a>
    <pre>Description: {{track.value.description}}</pre>

    <pre>Times Played: {{track.value.timesPlayed}}</pre>

    <pre>Type: {{track.value.type}}</pre>
    <pre>Best times:
    <pre *ngFor="let time of track.value.times;">
        {{time}}
    </pre>
    </pre>
  </li>
</ul>
<div #preview></div>